h1 {
      font-family: 'Crimson Text', serif;
}

h2 {
      font-family: 'Crimson Text', serif;
}

body {
      font-family: 'Open Sans', sans-serif

}

footer {
  display: flex;
  align-items: center;
}

footer ul {
  margin-bottom: 0;
  padding-left: 13px;
}

footer li {
  display: inline;
  padding-right: 10px;
}
