h1 {
  font-family: 'Crimson Text', serif;
  font-size: 36px;
}

h2 {
  font-family: 'Crimson Text', serif;
}

.display-3 {

}

.img-responsive {

}

body {
  font-family: 'Open Sans', sans-serif
}

footer {
  display: flex;
  align-items: center;
}

footer ul {
  margin-bottom: 0;
  padding-left: 13px;
}

footer li {
  display: inline;
  padding-right: 10px;
}
