/*global*/
* {
  /*outline: 1px solid red;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container: {
  width: 100%
}

header {
}

h1 {
  font-family: 'Crimson Text', serif;
  font-size: 36px;
  text-align: center;
}

h2 {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  text-align: center;
}

h3 {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  text-align: left;
  min-height: 50px;
  margin-bottom: 5px;
}

h3 a {
  text-decoration: none;
  color: black;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 210px;
    margin-bottom: 20px
}

/*banner*/
.homebutton a {
  text-decoration: none;
  color: #555;
}


.banner {
  min-height: 400px;
  max-height: 400px;
  margin: 0 auto;
  background-image: url(../media/jesus-kiteque-224069.jpg);
  /*background-image: url(../media/jesus-kiteque-224069.jpg);*/
  /*per Jesus Kiteque unsplash https://unsplash.com/?photo=wn-KYaHwcis*/
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -5vw;
  /*height: 50vw;*/
}

.buttonwrapper {
  display: inline-flex;
  position: absolute;
  right: 42vw;
  margin: auto;
}

.bannerbutton {
  align-items: center;
  justify-content: center;

}

/*blog summaries*/
.blogwrapper {
  display: flex;
  border-radius: 4px;
  border: 1px solid #bbb;
}

.storybox {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  padding-right: 5px;
}

.storybox h3 {
  colour: #cfd6de;
}

.thumbnail {
  width: 100px;
  /*height: 100px;*/
  /*margin-left: 5px;*/
  /*margin: 0 0;*/
  background-position-x: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0;
  color: rgba(0, 0, 0, 0);
}

.img1 {
  background-image: url(../media/lukas-blazek-263122.jpg);
}

.img2 {
  background-image: url(../media/tirza-van-dijk-58301.jpg);
}

.img3 {
  background-image: url(../media/cara-fuller-291307.jpg);
}

.img4 {
  background-image: url(../media/joe-beck-28190.jpg);
}

.sample-text {
  width: 100%;
  min-height: 140px;
}

/*footer*/
.footer {
  display: inline-block;
  /*max-height: 300px;*/
  margin: auto 0;
  background-image: url(../media/bench-accounting-49027.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40%;
  width: 100%;
  /*overflow: hidden;*/
}

.footerwrapper {
  padding-top: 20px;
  min-height: 200px;
  /*background-color: rgb(208, 216, 208);*/

}

.links {
  width: 100px;
  list-style: none;
  padding-left: 20px;
  text-transform: uppercase;
  display: inline-block;
  /*padding: 0 30px;*/
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
}

.links ul {
  list-style: none;
  text-transform: uppercase;
  display: inline-block;
  color: #555;
  text-align: left;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
}

.contacts {
  list-style: none;
  padding-left: 20px;
  text-transform: uppercase;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;

}

.contacts ul {
  list-style: none;
  text-transform: uppercase;
  color: #555;
  text-align: left;
  font-size: 16px;
  /*font-weight: 600;*/
  /*line-height: 38px;*/
  letter-spacing: .1rem;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
}

.credits {
  padding-left: 20px;
  text-align: left;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
}
